# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
x64/Debug/GeometryProject.ilk
x64/Debug/GeometryProject.log
x64/Debug/GeometryProject.tlog/CL.command.1.tlog
x64/Debug/GeometryProject.tlog/CL.read.1.tlog
x64/Debug/GeometryProject.tlog/CL.write.1.tlog
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
x64/Debug/geometry.obj.enc
x64/Debug/GeometryProject.ilk
x64/Debug/GeometryProject.tlog/CL.command.1.tlog
x64/Debug/GeometryProject.tlog/CL.read.1.tlog
x64/Debug/GeometryProject.tlog/CL.write.1.tlog
x64/Debug/test.obj.enc
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
